  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #948c76;
    height: 60px;
    padding: 0 20px;
  }
  
  .logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
  }
  
.my-4{
    margin-block:1rem;
}
.line-through{
    text-decoration: line-through;
}
.flex{
    display: flex;
}
.mt-2{
    margin-top: 2rem;
}

.py-2{
    padding-block:2rem;
}
.wrap{
    flex-wrap:wrap;
}
.buttons{
    margin-left:auto;

}
.p-5{
    padding-block:0.875rem;
    padding-inline: 1.5rem;
}
.mr-2{
    margin-right: 2rem;
}
.mt-5{
    margin-top: 5rem;
}
.mx-5{
    margin-inline: 15rem;
}
.bg-lightBrown{
    background-color: #bdb5a2;
}
.item-center{
    align-items: center;
}
.p-2{
    padding:2rem;
}
.text-xl{
   font-size: 1.5rem;
}
.text-2xl{
    font-size:2rem;
}
.taskDetails{
    background-color: #d6d0c1;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.px-5 {
    padding-inline: 5rem;
}

.text-xl{
    font-size: 18px;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: rgba(238, 33, 33, 0.892);
}
.rounded-md{
    border-radius: 0.375rem; 
}
.py-1{
    padding-block: 1rem;
}
.py-3{
    padding-block:3rem;
}
.text-white{
    color:white;
}
.px-2{
    padding-inline: 1rem;
}
.font-bold{
    font-weight: 600;
}
.bg-blue{
    background-color: rgb(149, 149, 232);
    outline:none;
}
.justify-content{
    justify-content: center;
}
.pointer{
    cursor:pointer;
}
.btn{
    outline:none;
    border:none;
}
.btn:hover{
    background-color: rgb(164, 140, 186);
}
.bg-white{
    background-color: rgba(201, 153, 153, 0.297);
    width:100vw;
    height:100vh;
    max-width: 100vw;
}
.pb-3{
    padding-bottom: 3rem;
}

.taskDesc{
    width: 50vh;
}